@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}
html {
	scroll-behavior: smooth;
}

b {
	text-decoration: underline;
	text-decoration-color: #fdb93a;
	font-weight: bold;
}

u {
	text-decoration-color: #fdb93a;
}
