@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}
html {
	scroll-behavior: smooth;
}

b {
	text-decoration: underline;
	text-decoration-color: #fdb93a;
	font-weight: bold;
}

u {
	text-decoration-color: #fdb93a;
}
/* 
hr {
	border: 1px dashed #fdb93a;
	width: 100%;
	border-width: 4px;
} */

body {
	background: linear-gradient(
			#cf9221,
			#cf9221 6px,
			transparent 6px,
			transparent
		),
		fixed linear-gradient(transparent, #18171f 70%),
		fixed
			repeating-linear-gradient(
				#222125,
				#222125 1px,
				transparent 1px,
				transparent 40px
			),
		fixed
			repeating-linear-gradient(
				to right,
				#222125,
				#222125 1px,
				transparent 1px,
				transparent 40px
			);
}
